.banner {
	background: url('../assets/images/04_banner_1.jpg')no-repeat center top;
	min-height: 700px;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		bottom: -106px;
		height: 182px;
		background: $bgColor;
		width: 117%;
		transform: rotate(-4deg);
	}
	.container {
		min-height: inherit;
		.banner-content {
			display: flex;
			min-height: inherit;
			flex-direction: column;
			justify-content: center;
			max-width: 700px;
			width: 100%;
			h1 {
				@include heading1;
				margin: 0 0 25px;
			}
			p {
				@include paragraphs;
			}
			ul {
				padding: 0;
				margin: 20px 0 0;
				li {
					display: inline-block;
					a {
						padding: 13px 20px;
						background: $blueTheme;
						border-radius: 25px;
						margin-right: 25px;
						color: #fff;
						font-size: 12px;
						text-transform: uppercase;
						font-weight: 700;
						letter-spacing: 1px;
						text-decoration: none;
						border: 1px solid transparent;
						transition: .3s;
						&:hover {
							background: transparent;
							border: 1px solid $blueTheme;
							transition: .3s;
						}
					}
				}
			}
		}
	}
}
