.services {
	padding: 100px 0 275px;
	text-align: center;
	position: relative;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		height: 208px;
		width: 107%;
		background: #f6f7f9;
		bottom: -3px;
		transform-origin: right top;
		transform: rotate(-6deg);
		right: 0;
		z-index: -9;
	}
	h2 {
		@include heading2;
		margin-bottom: 40px;
	}
	.service-item {
		h3 {
			@include heading3;
			color: $blueTheme;
			margin: 20px 0;
		}
		img {
			width: 100%;
			max-width: 100px;
		}
		p {
			color: #777;
		}
	}
}
