.teams {
	padding: 100px 0 275px;
	background: $bgColor;
	position: relative;
	overflow: hidden;
	.row {
		align-items: center;
	}
	.team-content {
		h2 {
			@include heading2;
			margin: 0 0 40px;
		}
		p {
			@include paragraphs;
		}
		a {
			@include button;
			margin: 30px 0 0;
		}
	}
	&:after {
		content: '';
		position: absolute;
		bottom: -231px;
		width: 110%;
		height: 230px;
		background: #fff;
		transform-origin: right bottom;
		transform: rotate(6deg);
		right: 0;
	}
}
